.env 
agents/upload_files/
agents/rag_agent.py 
.DS_Store
tools/data/json

agents/tools/output/*
agents/__pycache__
agents/tools/add_to_knowledge_base.py
agents/tools/agent_integration.py
agents/tools/format_form_fields.py
agents/tools/polygon_form_filler.py
agents/tools/polygon-edit-form.py
agents/tools/__pycache__
agents/knowledge/__pycache__
agents/tools/requirements.txt

agents/tools/input/data/image/f1040_unfilled_1.jpg
agents/tools/input/data/image/f1040_unfilled_2.jpg
agents/tools/input/data/image/w2_unfilled.jpg
agents/tools/input/data/pdf/f1040/f1040-filled.pdf
agents/tools/input/data/pdf/f1040/f1040.pdf
agents/tools/input/data/pdf/fw2/fw2-pages-3-copy.pdf
agents/tools/input/data/pdf/fw2/fw2-pages-3-filled.pdf
agents/tools/input/data/pdf/fw2/fw2-pages-3.pdf
agents/tools/input/data/pdf/fw2/fw2.pdf

/workflow
__pycache__/*

output/*
prompts/prompts.json
sample_commit.txt
